---
import Layout from '../layouts/Layout.astro';
import ChatAI from '../components/ChatAI.jsx'
---

<Layout title="Netlify Experiments">
	<main>
		<div class="p-8 fixed top-0 left-0 w-full">
			<a href="/">Netlify Experiments</a>
		</div>
		<ChatAI/>
	</main>
</Layout>